<div id="chat-container">
  <div id="buddy-panel">
    <div class="avatar">
      <img ng-src="{{$ctrl.buddyAvatar}}" alt="{{$ctrl.buddyName}}'s avatar">
    </div>
    <h1>Chat with {{$ctrl.buddyName}}</h1>
  </div>
  <div id="post-list" class="panel-border" full-height="308" scroll-glue scroll-to-top="$ctrl.scrollToTop()">
    <div ng-repeat="post in $ctrl.posts" class="post" id="{{post.id}}" ng-class="{'local-post': post.isLocal}">
      <div class="avatar">
        <img ng-src="{{post.isLocal && $ctrl.userSmallAvatar || $ctrl.buddySmallAvatar}}" alt="Avatar">
      </div>
      <div class="tail">
        <div class="circle"></div>
      </div>
      <div class="post-body">
        <div class="text">
          {{post.text}}
        </div>
        <div class="time">
          {{post.time}}
        </div>
      </div>
      <div class="end-container"></div>
    </div>
  </div>
  <div id="add-post">
    <form ng-submit="$ctrl.submit()">
      <textarea ng-model="$ctrl.text" press-enter="$ctrl.submit()" required></textarea>
      <div class="submit"><input type="submit" id="submit-post" value="SEND"></div>
    </form>
  </div>
</div>
