<div id="chat-list-panel" class="panel" full-height="189">
  <h2>MY CHATS</h2>
  <div id="chat-list" class="panel-border" full-height="353">
    <div ng-repeat="chat in $ctrl.chats" class="chat-item" ng-class="{'unread-chat': chat.unread, 'selected': $ctrl.activeChat.id == chat.id}"
         ng-click="$ctrl.openChat(chat.buddy.id)">
      <div class="avatar">
        <img ng-src="{{chat.buddy.mediumAvatar}}" alt="Buddy's avatar">
      </div>
      <div class="buddy-info">
        <h3>{{chat.buddy.firstName}} {{chat.buddy.lastName}}</h3>
        <div class="new-messages">
          <span ng-show="chat.unread">New messages</span>
          <span ng-hide="chat.unread">No new messages</span>
        </div>
      </div>
    </div>
    <div ng-if="$ctrl.chats.length == 0" class="empty-list">There are no chats yet</div>
  </div>
  <div id="user-search">
    <form id="user-search-form" ng-submit="$ctrl.search()">
      <fieldset>
        <legend>User search</legend>
        <input type="text" id="query" placeholder="Search" ng-model="$ctrl.query" required>
        <div class="submit"><input type="submit" id="submit" value="SEARCH"></div>
      </fieldset>
    </form>
  </div>
</div>
